header {
    text-align: center;
}

table {
    background-color: gray;
    color: white;
    padding: 10px;
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

iframe {
    padding: 50px;
}